* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body {
    background: #262a2f;
}

.container {
    width: 400px;
    background: #fff;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:  10px;
}

.container p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
}

.container input {
    width: 100%;
    height: 50px;
    border: 1px solid green;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 20px;
}

.container button {
    width: 100%;
    height: 50px;
    background: green; 
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    font-weight: 500;
}

#imgbox {
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;
}

#qrImg {
    width: 100%;
    padding: 10px;
}

#imgbox.show-img {
    max-height: 200px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}
.container input.error {
    animation: shake 0.1s linear 10;
    border: 1px solid red;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}

.download i {
    font-size: 20px;
}